#atemModal_overlay {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.3);
    width: 100%;
    min-height: 100%;
    height: 100%;
	z-index: 10000;
    display: none;
}

#atemModal_modal {
    margin: auto;
    margin-top: 5%;
    position: fixed;
    top: 0;
    left: 0;
}

.atemModal_modal_white {
    background: #ffffff;
    border-radius: 5px;
    max-width: 90%;
    margin: auto;
}

#atemModal_title {
    background: red;
    padding: 5px;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

#atemModal_buttons {
    padding: 10px;
	text-align: center;
}

#atemModal_content {
    padding: 10px;
}

#atemModal_close {
    float: right;
    margin-right: 5px;
    cursor: pointer;
    font-size: 25px;
    display: none;
    margin-left: 10px;
}

#atemModal_expand {
    float: left;
    margin-left: 5px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 5px;
}

#atemModal_minimize {
    float: left;
    margin-left: 5px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 5px;
    margin-right: 10px;
}

.atemModal_expand {
    max-width: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    height: 100%;
    left: 0;
}

.atemModal_minimize {
    position: absolute !important;
    width: max-content !important;
    bottom: 0 !important;
    left: 20px !important;
}

.atemButton {
    margin: 0px 2px;
}

.atemModal_modal_expand {
    margin-top: 0px !important;
    width: 100%;
    height: 100%;
}