.atemButton {
    background: #FFFFFF;
    padding: 5px 15px;
    border: 1px solid #696969;
    cursor: pointer;
}

.atemButton:hover {
    background: #F9F9F9;
}

.atemButton:active {
    background: #F5F5F5;
}

.atemButton:focus,.atemButton:active {
    outline: none !important;
    border: 1px solid #3E3E3E;
 }

.atemButton_white{background: #F2F2F2;color: #696969;}
.atemButton_white:hover{background: #E4E4E4;}
.atemButton_white:active{background: #D0D0D0;}
.atemButton_blue{background: #00b7ff;color: #F2F2F2;}
.atemButton_blue:hover{background: #0097D3;}
.atemButton_blue:active{background: #00719E;}
.atemButton_green{background: #00bd33;color: #F2F2F2;}
.atemButton_green:hover{background: #009D2A;}
.atemButton_green:active{background: #00691C;}
.atemButton_yellow{background: #FFF100;color: #696969;}
.atemButton_yellow:hover{background: #EBDD00;}
.atemButton_yellow:active{background: #C3B900;}
.atemButton_red{background: #FF2E2E;color: #F2F2F2;}
.atemButton_red:hover{background: #E81919;}
.atemButton_red:active{background: #CB0B0B;}
.atemButton_black{background: #202020;color: #F2F2F2;}
.atemButton_black:hover{background: #4A4A4A;}
.atemButton_black:active{background: #7A7A7A;}
.atemButton_purple{background: #8500C9;color: #F2F2F2;}
.atemButton_purple:hover{background: #7100AC;}
.atemButton_purple:active{background: #580084;}
.atemButton_orange{background: #FF9300;color: #F2F2F2;}
.atemButton_orange:hover{background: #E68300;}
.atemButton_orange:active{background: #D57900;}